
/** HEADER **/

* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #1a1a1a;
    background-color: #7f87c1;
}


.container {
    border: none;
    margin: 10px auto;
    padding: 10px;
}

.navbar-brand {
    font-size: 2em;
    color: black;
}
.navbar-brand a:hover,.navbar-brand a:focus{
    text-decoration: none;
    text-shadow: 1px 1px 1px orange;
}

#header-nav {
    border: 0;
    background-color: maroon;
    color: black;
    font-weight: bold;
    border-radius: 0;
    border-bottom: 2px solid black;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid darkblue;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}


.nav-brand {
    color: black;
    font-size: 1.5em;
}

#nav-list {
    color: white;
    margin-bottom: 0;
}

hr {
    border-color: white;
}

.item {
    color: #e4d61c;
    font-size: 1.5em;
    font-weight: bold;

}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus  { color: #e1dddd;}
.text-center a:hover,.text-center a:focus{
    text-decoration:none;
    text-shadow: 2px 2px 2px #b5b5b5;
}
.navbar-toggle              { padding: 6px 4px; margin-bottom: 0; margin-top: -44px !important;}
.navbar-toggle .icon-bar { width: 36px; height: 6px; background-color: black !important; border: 1px solid #1a1a1a;}
.collapse.show          { margin-top: 10px;}
.collapse.show .sushi-item hr { margin-bottom: -20px;}
/** END HEADER */


/** HOME PAGE **/

#main-content {
    margin: 0 auto;
    padding-top: 0;
}
section {
    border:	1px solid black;
    width: 100%;
    height: auto;
    font-family: Helvetica;
    color: black;
    position: relative;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 50px;
}
#home-tiles { width: 100%; margin-inline: auto;}
#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

#chicken-tile, #beef-tile, #sushi-tile {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #f2dede;
    margin-bottom: 60px;
    box-shadow: 10px 20px 20px 1px #ced77d;
}

#chicken {
    text-align: center;
    font-family: Georgia,sans-serif;
    margin-top: 0;
    padding: 5px;
    background-color: #FFFF00;
}

#beef {
    text-align: center;
    font-family: Georgia,sans-serif;
    margin-top: 0;
    padding: 5px;
    background-color: #FF1439;
}

#sushi {
    text-align: center;
    font-family: Georgia,sans-serif;
    margin-top: 0;
    background-color: #6495ED;
    padding: 5px;
}

/** END HOME PAGE **/